<div class="common-container home-container">
    <div class="mm-row">
      <div class="mm-container">
        <div class="mm-component"></div>
      </div>
    </div>
    <header class="mm-container-fluid">
      <div class="menu-container-main">
        <div class="search-blk-container">
          <div class="search-main-block-inside">
            <div class="search-close-btn-bl close-button-search"></div>
            <div class="logo-blk">
              <a href="/index.html" target="_self">
                <img alt="" src="" />
              </a>
            </div>
            <!-- ------------------------------------------------------------------END OF LOGO--------------------------------------------- -->
            <div class="search-block-header">
              <input type="hidden" value="/index.html" id="searchResultsPage" />
              <div class="search-blk">
                <!--  -->
                <!-- <div class="center"><div class="nav-search-field"><input type="text" value="" name="" placeholder="" class="nav-input"></div></div> -->
              </div>
            </div>
            <!-- search-block-header ends -->
            <!-- ------------------------------------------------------------------END OF SEARCH--------------------------------------------- -->
            <div class="mob-other-sites">
              <ul class="mob-othersite-ul">
            </div>
            <div class="social-share-blk">
              <div class="social-media-blk"></div>
            </div>
          </div>
        </div>
        <div class="menu-list-block-inside"></div>
      </div>
      <!-- -------------------------------------------------TOP BLACK BLOCK BAR-------------------------------------------------- -->
      <nav class="mm-row bg-black" style="background-color: rgba(242, 0, 0, 0.774);">
        <div class="mm-container ml-top-nav">
          <div class="headerElementTop">
            <div class="in-the-news" style="padding-top: 0px; padding-bottom: 0px; margin-top: -5px; margin-bottom: -7px;">
              <ul>
                <li class="clr-blue">
                  <a href="../pages/write.html" style="font-family: 'Rachana', sans-serif; font-size: 15px; padding-top: 1px; padding-bottom: 1px; margin-top: 0px; margin-bottom: 0px; color: rgb(255, 255, 255);">നിങ്ങൾക്കും എഴുതാം</a>
                </li>
                <li>
                  <a href="../pages/about-us.html" target="_self" title="എന്ത് ആണ് ഇത്?" style="font-family: 'Rachana', sans-serif; font-size: 15px; padding-top: 1px; padding-bottom: 1px; margin-top: 0px; margin-bottom: 0px;">എന്ത് ആണ് ഇത്?</a>
                </li>
                <!-- <li><a
                    href="/Education.html"
                    target="_self"
                    title="വിദ്യാഭ്യസം"
                    style="font-family: 'Rachana', sans-serif; font-size: 15px; padding-top: 1px; padding-bottom: 1px; margin-top: 0px; margin-bottom: 0px;"
                    >വിദ്യാഭ്യസം</a
                  ></li> -->
                <li>
                  <a href="../pages/Credits.html" target="_self" title="കടപ്പാടുകൾ" style="font-family: 'Rachana', sans-serif; font-size: 15px; padding-top: 1px; padding-bottom: 1px; margin-top: 0px; margin-bottom: 0px;">കടപ്പാടുകൾ</a>
                </li>
              </ul>
            </div>
            <!-- -------------------------------------------------TOP BLACK BLOCK BAR-------------------------------------------------- -->
            <div class="prm-new-block-right">
              <div class="premlogin-block prm-my-account"></div>
              <div class="login-dropdown-blk"></div>
            </div>
          </div>
        </div>
        <div class="txt-en-header-mob"></div>
        <!-- <div class="topHeader"> -->
  </div>
  </div>
  </div>
  </nav>
  <div class="mm-row">
    <div class="mm-container">
      <div class="mm-component"></div>
      <!-- <div class="ml-header-other-site"><ul><li><a
                  href="#"
                  target="_blank"
                  title="E-PAPER"
                  >E-PAPER</a
                ></li><li><a
                  href="#"
                  target="_blank"
                  title="BLANK"
                  >BLANK</a
                ></li><li><a
                  href="#"
                  target="_blank"
                  title="BLANK"
                  >BLANK</a
                ></li><li><a
                  href="#"
                  target="_self"
                  title="BLANK"
                  >BLANK</a
                ></li><li><a
                  href="#"
                  target="_self"
                  title="BLANK"
                  >BLANK</a
                ></li><li><a
                  href="#"
                  target="_blank"
                  title="BLANK"
                  >BLANK</a
                ></li><li><a
                  href="#"
                  target="_blank"
                  title="BLANK"
                  >BLANK</a
                ></li><li><div class="follow-usBlockHeader"><div class="textBlk">FOLLOW US</div><div class="social-media-blk"><ul><li><a
                          href="#"
                          target="_blank"
                          ><i class="fab fa-facebook-f"></i
                        ></a></li><li><a
                          href="#"
                          target="_blank"
                          ><i class="fab fa-twitter"></i
                        ></a></li><li><a
                          href="#"
                          target="_blank"
                          ><i class="fab fa-instagram"></i
                        ></a></li><li><a
                          href="#"
                          target="_blank"
                          ><i class="fab fa-youtube"></i
                        ></a></li></ul></div></div></li></ul></div> -->
      <div class="sticky-wrapper">
        <div class="ml-header-main-blk article-head-01">
          <div class="header-border-btm"></div>
          <div class="ml-header-left">
            <div class="header-sponser-left"></div>
          </div>
          <!-- ----------------------------------------------------------------------------LOGO AND SUBHEADING-------------------------------------------------- -->
          <h1 class="ml-header-logo">
            <a href="../index.html" target="_self" title="മലയാളമാതൃ മനോഭൂമി">
              <h1 class="mmbmlogo">മലയാളമാതൃ മനോഭൂമി</h1>
              <p style="font-family: 'Rachana', sans-serif; font-size: 10px; color: rgb(0, 0, 0); margin-top: 10px; margin-bottom: 0px;">മറ്റൊരു മനുഷ്യനയോ, സങ്കല്പ രൂപത്തെയോ ആശയത്തിൽ ചുമക്കാത്ത മനുഷ്യരുടെ കൂട്ടായ്മ</p>
              <div id="datetime"></div>
            </a>
          </h1>
          <p id="date"></p>
          <!-- ----------------------------------------------------------------------------END OF LOGO AND SUBHEADING------------------------------------------- -->
          <!--<div class="prm-new-block-right mobile-dd">-->
          <div class="sign_in_button ml-login-icon-blk-mobile">
            <div class="premlogin-block prm-my-account">
              <div class="premlogin-block-in"></div>
              <div class="login-dropdown-blk">
                <div class="logindusername"></div>
              </div>
            </div>
          </div>
          <div class="nw-time"></div>
        </div>
        <!-- --------------------------------------------------------MAIN MENU STARTS------------------------------------------------------ -->
        <nav class="navigation" id="stickyNav">
          <ul>
            <li>
              <a href="../index.html" target="_self" style="font-family: 'Rachana', sans-serif; font-size: 15px;" title="HOME"> മുഖം </a>
            </li>
            <li>
              <a href="../pages/World.html" target="_self" style="font-family: 'Rachana', sans-serif; font-size: 15px;" title="ലോകം"> ലോകം </a>
            </li>
            <li>
              <a href="../pages/Corruption.html" target="_self" style="font-family: 'Rachana', sans-serif; font-size: 15px;" title="അഴിമതി"> അഴിമതി </a>
            </li>
            <li>
              <a href="../pages/Law.html" target="_self" style="font-family: 'Rachana', sans-serif; font-size: 15px;" title="നിയമം"> നിയമം </a>
            </li>
            <li>
              <a href="../pages/Parliamentary.html" target="_self" style="font-family: 'Rachana', sans-serif; font-size: 15px;" title="പാർലമെന്ററി"> പാർലമെന്ററി </a>
            </li>
            <li>
              <a href="../pages/Education.html" target="_self" style="font-family: 'Rachana', sans-serif; font-size: 15px;" title="വിദ്യാഭ്യാസം"> വിദ്യാഭ്യാസം </a>
            </li>
            <li>
              <a href="../pages/Health.html" target="_self" style="font-family: 'Rachana', sans-serif; font-size: 15px;" title="ആരോഗ്യം"> ആരോഗ്യം </a>
            </li>
            <li>
              <a href="../pages/Agriculture.html" target="_self" style="font-family: 'Rachana', sans-serif; font-size: 15px;" title="കൃഷി"> കൃഷി </a>
            </li>
            <li>
              <a href="../pages/Power.html" target="_self" style="font-family: 'Rachana', sans-serif; font-size: 15px;" title="ഊർജം"> ഊർജം </a>
            </li>
            <li>
              <a href="../pages/Transportation.html" target="_self" style="font-family: 'Rachana', sans-serif; font-size: 15px;" title="ഗതാഗതം"> ഗതാഗതം </a>
            </li>
            <li>
              <a href="../pages/Environment.html" target="_self" style="font-family: 'Rachana', sans-serif; font-size: 15px;" title="പരിസ്ഥിതി"> പരിസ്ഥിതി </a>
            </li>
            <li>
              <a href="../pages/Science.html" target="_self" style="font-family: 'Rachana', sans-serif; font-size: 15px;" title="ശാസ്ത്രം"> ശാസ്ത്രം </a>
            </li>
            <li>
              <a href="../pages/Finance.html" target="_self" style="font-family: 'Rachana', sans-serif; font-size: 15px;" title="ധനകാര്യം"> ധനകാര്യം </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  </header>