<div class="mm-container-fluid">
    <div class="mm-row">
        <div class="mm-container">
            <div class="wrapper">
                <div class="left-column">
                    <div class="artitle"><h1></h1></div>
                    <div class="featimaged"><img alt="" src="" /></div>
                    <div><hr></div>
                    <div class="artdate"><p></p></div>
                    <div><hr></div>
                    <div class="artbody"></div>
                    <div><hr></div>
                    <div class="author-box">
                        <div class="author-info">
                            <div class="author-image"><img src="" alt=""></div>
                            <h3 class="author-name"></h3>
                            <p class="author-bio"></p>
                            <div class="author-social">
                                <a href="" target="_blank"><i class="fab fa-facebook-f rounded-icon"></i></a>
                                <a href="" target="_blank"><i class="fab fa-twitter rounded-icon"></i></a>
                                <a href="" target="_blank"><i class="fab fa-linkedin-in rounded-icon"></i></a>
                            </div>
                            <div><hr></div>
                            <p id="policy"></p>
                        </div>
                    </div>
                    <div class="tracedata">
                        <div class="category"><p></p></div>
                        <div class="arttags"><p></p></div>
                        <div class="authorid"><p></p></div>
                        <div class="vuukleid"><p></p></div>
                        <div class="articleid"><p></p></div>  
                    </div>
                    <div class="vuukle">
                        <div class="vuukle-sharebar"></div>
                        <div id="vuukle-comments"></div>
                    </div>                    
                </div>
                <div class="right-column">
                    <div class="sidebar"></div>
                </div>
            </div>
        </div>
    </div>
</div>