<div class="sidebarhead">
    <p> പുതിയത്</p>
    <hr>
    </div>

<!-- <div class="latest">
    <ul>
        <li>
            <div class="sidenews">
                <a href="" target="_self"><h3></h3></a>
            </div>
            <div class="sideimg">
                <a href="" target="_self"><img src="" alt=""></a>
            </div>
            <hr>
        </li>
    </ul>
</div> -->

<div class="latest">
    <ul>
    </ul>
  </div>

<script>
    fetch('/data/articles.json')
  .then(response => response.json())
  .then(data => {
    // Sort the articles in descending order by date
    const sortedArticles = data.sort((a, b) => new Date(b.date) - new Date(a.date));
    // Pick the latest 15 articles
    const latestArticles = sortedArticles.slice(0, 15);

    // Render the articles dynamically
    const latestContainer = document.querySelector('.latest ul');
    latestArticles.forEach(article => {
      const listItem = document.createElement('li');
      const sideImg = document.createElement('div');
      sideImg.classList.add('sideimg');

      const imgLink = document.createElement('a');
      imgLink.href = article.article_url;
      imgLink.target = '_self';

      const img = document.createElement('img');
      img.src = article.featured_medium_image_Url;
      img.alt = article.title;

      imgLink.appendChild(img);
      sideImg.appendChild(imgLink);
      listItem.appendChild(sideImg);

      const sideNews = document.createElement('div');
      sideNews.classList.add('sidenews');

      const titleLink = document.createElement('a');
      titleLink.href = article.article_url;
      titleLink.target = '_self';

      const title = document.createElement('h3');
      title.textContent = article.title;

      titleLink.appendChild(title);
      sideNews.appendChild(titleLink);
      listItem.appendChild(sideNews);

    //   const hr = document.createElement('hr');
    //   listItem.appendChild(hr);

      latestContainer.appendChild(listItem);
    });
  })
  .catch(error => {
    console.error('Error:', error);
  });


</script>