@import url("https://fonts.googleapis.com/css?family=Montserrat");

/* * {
	box-sizing: border-box;
} */

.columnist {
	align-items: center;
	
	margin-bottom: 20px;

}

h3 {
	margin: 10px 0;
	font-family: 'Keraleeyam', sans-serif;
	font-size: 18px;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
	font-family: 'mmmb-slo';
	font-size: 15px;
}

p {
	font-size: 14px;
	line-height: 21px;
	font-family: 'mmmb-slo';
}

.card-container {
	background-color: #eff5ff;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
	color: #b3b8cd;
	padding-top: 30px;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
    padding-bottom: 30px;
}

.card-container .pro {
	color: #231e39;
	background-color: #febb0b;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 30px;
}

.card-container .round {
	border: 1px solid #29a6ff;
	border-radius: 50%;
	padding: 7px;
}

button.primary {
	background-color: #29a6ff;
	border: 1px solid #03bfcb;
	border-radius: 3px;
	color: #231e39;
	font-family: 'Uroob', sans-serif;
	font-weight: 500;
	padding: 10px 25px;

}

button.primary.ghost {
	background-color: transparent;
	color: #02899c;
	font-family: ;
}

.skills {
	background-color: #1f1a36;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #2d2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}

.columnist p {
	font-family: 'Keraleeyam', sans-serif;
	font-size: 25px;

}

.author-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; /* Center items horizontally */
	
  }


.author-card {
    margin-right: 20px;
    margin-bottom: 20px;
}
  @media (max-width: 767px) {
    .author-card {
      margin-right: 0px;
      margin-bottom: 20px;
    }
  }
  

  a.primary {
	background-color: #4cb9fc;
	color: #333;
	padding: 10px 15px;
	border-radius: 5px;
	text-decoration: none;
	font-family: 'mmmb-slo';
  }
  
  a.primary:hover {
	background-color: #ffc83b;
  }
  
  a.primary:active {
	background-color: #ffc83b;
  }

  .author-box {
	margin-bottom: 15px;
  }

 