@media (min-width: 768px) {
    .featimage {
      display: block;
    }
  }
  
  @media (max-width: 767px) {
    .featimage {
      display: none !important;
    }
  }

  .featured_medium_image {
    display: none;
  }

  .featured_small_image {
    display: none;
  }
  

 