.article-list {
    list-style: none;
    padding: 5px;
  }

  .article-list li {
    margin-bottom: 10px;
  }

  .article-link {
    color: #333;
    text-decoration: none;
	padding: 8px !important;
  }

  a.article-link {
	padding: 15px;
  }