<div class="mm-container-fluid">
    <div class="mm-row">
        <div class="mm-container">
            <div class="wrapper">
                <!-- ------------------------------------------------LEFT COLUMN--------------------------------------------- -->
                <div class="left-column">
                    
                </div>         
                <!-- ------------------------------------------------END OF LEFT COLUMN-------------------------------------- -->
                <!-- ------------------------------------------------START OF RIGHT COLUMN ---------------------------------- -->
                <div class="right-column">
                </div>
                <!-- ------------------------------------------------END OF RIGHT COLUMN ------------------------------------ -->
            </div>
        </div>
    </div>
</div>
    
        

        
         