<div class="mm-container-fluid">
    <div class="mm-row">
        <div class="mm-container">
            <div class="wrapper">
                <!-- ------------------------------------------------LEFT COLUMN--------------------------------------------- -->
                <article>
                    <div class="left-column">
                        <section>
                            <h1 class="articlehead"></h1>
                          </section>
                          <section>
                            <img class="featimage" src="" alt="">
                          </section>
                          <section>
                            <p class="articlebody"></p>
                          </section>
                    </div>
                </article>
                <!-- ------------------------------------------------END OF LEFT COLUMN-------------------------------------- -->
                <!-- ------------------------------------------------START OF RIGHT COLUMN ---------------------------------- -->
                <div class="right-column">
                </div>
                <!-- ------------------------------------------------END OF RIGHT COLUMN ------------------------------------ -->
            </div>
        </div>
    </div>
</div>
    
        

        
         