<!-- COMMENTS SHAREBAR: Place it where you want SHARES to be displayed -->
<div class="vuukle-sharebar"></div>
<!-- COMMENTS WRAPPER: Place it where you want comments to be displayed -->
<div id="vuukle-comments"></div>
<script type="text/javascript">
  var VUUKLE_CONFIG = {
    "apiKey": "808ea6bb-acc3-400b-b7f5-59f0fa8592ac",
    "host": "malayalamathrumanobhumi.github.io",
    "articleId": "!!! GENERATE UNIQUE ID FOR YOUR ARTICLE !!!",
    "img": "!!! ARTICLE IMAGE URL !!!",
    "tags": "!!! UP TO 3 TAGS SEPARATED BY COMMA !!!",
    "url": "https://malayalamathrumanobhumi.github.io",
    "title": "string",
    "author": "string",
    "language": "en",
    "recommendedArticles": false,
    "globalRecommendations": false,
    "wideImages": false,
    "comments": {
        "enabled": true,
        "editorOptions": [
            "bold",
            "italic",
            "underline",
            "url",
            "blockquote",
            "code",
            "list",
            "image",
            "gif"
        ],
        "transliteration": {
            "language": "en",
            "enabledByDefault": false
        },
        "commentingClosed": false,
        "countToLoad": 5
    },
    "emotes": {
        "enabled": false,
        "disable": [
            5,
            6
        ]
    },
    "sharebar": {
        "enabled": true,
        "verticalPosition": "10px",
        "mode": "horizontal"
    }
};

  //⛔️ DON'T EDIT BELOW THIS LINE
  (function() {
    var d = document,
        s = d.createElement('script');
        
    s.src = 'https://cdn.vuukle.com/platform.js';
    (d.head || d.body).appendChild(s);
  })();
</script>
  